html {
	background-color: #000;
	color: #fff;
}

.freq {
	position: fixed;
	display: flex;
	flex-direction: row;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
/*	gap: 1px;*/
}

.bar {
	flex: 1 1 auto;
	background-color: #333;

}